@import "./css/reset.css";

@font-face {
    font-family: norse-bold;
    src: url(./css/Norse-Bold.otf);
}

html {
    
}

body {
    --background-black: rgb(10, 10, 10);

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content:center;
    position: absolute;
    top: 0;bottom: 0;
/*     margin:  auto 10vw;
 */    background-color: var(--background-black);
}

/* Left-side Banner */

.left-side {
    background-image: url("./images/green-leaves.jpg");
    background-size: cover;
    
    width: 30vw;
/*     height: 100vh;
 */    max-height: 1000px;

}

.left-side-banner {
    background-color: rgb(0, 0, 0, 0.5);
    font-family: norse-bold, Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 9rem;
    margin-top: 20vh;
}

.odin-img {
    height: min(100px, 100%);
    margin-right: 0.5vw;
}

.left-side-banner h1 {
    font-size: 5rem;
    color: white;
}

.photo-caption {
    color: white;
    position: absolute;
    bottom: 1vh;
    width: 100%;
    text-align: center;
}

.photo-caption a {
    color: white;
}

/* Right-side Banner */

.right-side {
    position: relative;
    background-color: white;
    width: 48vw;
    height: 100vh;
    max-height: 1000px;
}

.right-side-header {
    display: flex;
    flex-direction: column;
    height: 35vh;
    background-color: rgb(242, 242, 242);
}

.right-side-header-div {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 15vh 3vw;
}

.part-1 {
}
.part-2 {
    margin-top: 5%;
}

em {
    font-style: italic;
}