@import "./css/reset.css";

@font-face {
    font-family: norse-bold;
    src: url(./css/Norse-Bold.otf);
}

/* MAIN BODY LAYOUTS */

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    --variable-width: 1440px;
    --variable-current-width: calc(100vw * 0.7);
    width: var(--variable-width);
    height: min(1024px, calc(var(--variable-current-width)));
    background-color: white;
}

/* LEFT-SECTION LAYOUT */

.section-left {
    background-image: url(./images/green-leaves.jpg);
    background-size: cover;
    width: 37%;
    height: 100%;
}

.odin-banner {
    font-family: Norse-Bold, Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45%;
    height: 150px;
}

/* RIGHT-SECTION LAYOUT */

.section-right {
    width: 63%;
    height: 100%;
    background-color: white;
}
