@import "./css/reset.css";

body {
    display: flex;
    margin: 0 12.5%;
    background-color: rgb(10, 10, 10);
}

/* Left-side Banner */

.left-side {
    background-image: url("./images/green-leaves.jpg");
    background-size: cover;
    position: absolute;
    width: 27.5%;
    height: 100%;
}

.left-side-banner {
    background-color: rgb(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 9rem;
    margin-top: 40%;
}

.left-side-banner h1 {
    font-size: 5rem;
    color: white;
}

.photo-caption {
    color: white;
    position: absolute;
    bottom: 5px;
    width: 100%;
    text-align: center;
}

.photo-caption a {
    color: white;
}

/* Right-side Banner */

.right-side {
    position: absolute;
    background-color: white;
    width: 47.5%;
    height: 100%;
    left: 40%;
}